@font-face {
    font-family: Montserrat Regular;
    font-display: auto;
    src: ('Montserrat Regular'), url(./assests/fonts/Montserrat-Regular.woff2);
    font-style: normal;
}
@font-face {
    font-family: Montserrat Bold;
    font-display: auto;
    src: ('Montserrat Bold'), url(./assests/fonts/Montserrat-Bold.woff2);
    font-style: normal;
}
@font-face {
    font-family: Montserrat ExtraBold;
    font-display: auto;
    src: ('Montserrat ExtraBold'), url(./assests/fonts/Montserrat-ExtraBold.woff2);
    font-style: normal;
}
@font-face {
    font-family: Montserrat Italic;
    font-display: auto;
    src: ('Montserrat Italic'), url(./assests/fonts/Montserrat-Italic.woff2);
    font-style: normal;
}
@font-face {
    font-family: Montserrat Medium;
    font-display: auto;
    src: ('Montserrat Medium'), url(./assests/fonts/Montserrat-Medium.woff2);
    font-style: normal;
}
body {
    margin: 0;
}
.container {
    width: 75%;
    margin: 0 auto;
}
.primary-button {
font-family: Montserrat Medium;
background: #4985FF;
box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 30px;
font-size: 16px;
line-height: 20px;
color: #ffffff;
padding: 14px 36px;
border: 0;

}
h1 {
    font-size: 48px;
    line-height: 64px;
    color: #fff;

    text-align: center;
    font-family: 'Montserrat Regular';
    
    
}
h3 {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat Regular';
    margin: 0;


}
.home-section {
    background-image: url(./assests/img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 100vh;

}

.home-section-content {
    font-family: 'Montserrat Medium';
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.home-section-content h1 {
    margin: 30px 0 50px
}
.navbar {
    border-bottom: 1px solid #A1A1A1;
    position: absolute;
    left: 0;
    right: 0;
}

.navbar .container {
   display: flex;
   margin: 40px 0; 
   justify-content: flex-end;
}
 
.menu {
    font-family: 'Montserrat Reguar';
    
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
}
.container .menu:hover {
    border-bottom: 2px solid #FFFFFF;
}
    

