@font-face {
    font-family: Montserrat Regular;
    font-display: auto;
    src: ('Montserrat Regular'), url(./assests/fonts/Montserrat-Regular.woff2);
    font-style: normal;
}
@font-face {
    font-family: Montserrat Bold;
    font-display: auto;
    src: ('Montserrat Bold'), url(./assests/fonts/Montserrat-Bold.woff2);
    font-style: normal;
}
@font-face {
    font-family: Montserrat ExtraBold;
    font-display: auto;
    src: ('Montserrat ExtraBold'), url(./assests/fonts/Montserrat-ExtraBold.woff2);
    font-style: normal;
}
@font-face {
    font-family: Montserrat Italic;
    font-display: auto;
    src: ('Montserrat Italic'), url(./assests/fonts/Montserrat-Italic.woff2);
    font-style: normal;
}
@font-face {
    font-family: Montserrat Medium;
    font-display: auto;
    src: ('Montserrat Medium'), url(./assests/fonts/Montserrat-Medium.woff2);
    font-style: normal;
}
body {
    margin: 0;
}
.container {
    width: 75%;
    margin: 0 auto;
}
.primary-button {
font-family: Montserrat Medium;
background: #4985FF;
box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 30px;
font-size: 16px;
line-height: 20px;
color: #ffffff;
padding: 14px 36px;
border: 0;

}
h1 {
    font-size: 48px;
    line-height: 64px;
    color: #fff;

    text-align: center;
    font-family: 'Montserrat Regular';
    
    
}
h3 {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat Regular';
    margin: 0;


}
.home-section {
    background-image: url(./assests/img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 100vh;

}

.home-section-content {
    font-family: 'Montserrat Medium';
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.home-section-content h1 {
    margin: 30px 0 50px
}
.navbar {
    border-bottom: 1px solid #A1A1A1;
    position: absolute;
    left: 0;
    right: 0;
}

.navbar .container {
   display: flex;
   margin: 40px 0; 
   justify-content: flex-end;
}
 
.menu {
    font-family: 'Montserrat Reguar';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
}
.container .menu:hover {
    border-bottom: 2px solid #FFFFFF;
}
    
.information-about-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.information-about-activity .container {
    width: 50%;
}

.information-about-activity .title {
    font-size: 36px;
    line-height: 53px;
    font-weight: bold;
    color: #323232;
    text-align: center;
    font-family: 'Montserrat Regular';
    margin: 110px 0 50px 0
}
.description-of-activity {
    font-family: 'Montserrat Regular';
    color: #999999;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.examples-of-work {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 55px 0 80px; 

}

.examples-of-work .container {
    display: flex;
    margin-bottom: 55px;
}
.examples-of-work .services {
    display: flex;  
}
.example-photo {
    padding-right: 27px;
}


.services .descr {
    display: flex;
    flex-direction: column;
}

.tx {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat Regular';
    color: #000000;
}
p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Montserrat Regular';
    color: #999999;
}
.company-development-standards {
    background: #F6F6F8;
    display: flex;
    flex-direction: column;
}
.company-development-standards .container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 90px;
    border-bottom: 1px solid #E0E0E0;
}
.company-development-standards .title {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
}
.company-development-standards .descr {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-top: 40px;
}
.company-development-standards .details {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
    margin-top: 30px;
}
.left-block {
    margin-right: 121px;
}
.left-block, .right-block {
    flex: 1;
}
.standards-indicators {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 70px;
}
.indicators {
    margin:0 50px ;
}
.indicator {
    display: flex;
}
.indicator .kol {
    padding-left: 20px;
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
}
#img {
    padding-top: 8px;
    padding-bottom: 11px;
}
.indicators .name {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    padding-top: 14px;
}

